@font-face {
  font-family: "Sansation";
  src: url("/Sansation_Regular.ttf");
}
$mainColor: #8d20ae;

@media screen and (min-width: 740px) {
  #MenuBurger {
    display: none;
  }
  .bm-burger-button {
    display: none;
  }
  .bm-overlay {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  #MenuBurger {
    display: flex;
    flex-direction: row;
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 20px;
    top: 14px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    width: 100%;
    top: 54px;
  }

  /* General sidebar styles */
  .bm-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    width: 100%;
    /* Wrapper for item list */
    .bm-item-list {
      height: 20px;
      display: flex;
      width: 30%;
      flex-direction: column;
      align-items: center;
      color: #b8b7ad;
      padding: 0.8em;
    }
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Individual item */
  .bm-item {
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      height: 60px;
    }
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .main-NavBar {
    ul {
      li {
        margin-right: 0px;
        a {
          color: white;
          &::after {
            height: 0px;
          }
        }
      }
    }
  }
}
