@font-face {
  font-family: "Sansation";
  src: url("/Sansation_Regular.ttf");
}
$mainColor: #8d20ae;
$secondColor: rgb(39, 39, 39);

.streamingStatus {
  display: flex;
  padding: 3px;
  height: 40px;
  border-top: solid $mainColor;
  align-items: center;
  img {
    height: 100%;
  }
}
