.main-NewsFeed {
  background-color: rgb(39, 39, 39);
  width: 100%;
  position: absolute;
  top: 8vh;

  z-index: -90;
}

@media screen and (max-width: 740px) {
  .main-NewsFeed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
