@font-face {
  font-family: "Sansation";
  src: url("Sansation_Regular.ttf");
}
$mainColor: #8d20ae;

.post {
  font-family: "Sansation";
  background-color: white;
  color: black;
  max-width: 60%;
  height: auto;
  display: flex;
  border: $mainColor solid;
  margin-left: 8vw;
  margin: 20px;
  .imgSection {
    height: 100%;
    flex-direction: row;
    .avatar {
      height: 50px;
      padding: 5px;
    }
  }
  .headpost {
    display: flex;

    justify-content: space-between;
    padding: 5px;
  }

  .contentpost {
    flex-direction: column;
    .mediaContainer {
      flex-direction: row;
    }

    .postmedia {
      display: flex;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      padding: 5%;
    }
    .postComment {
      padding: 5%;
      text-align: justify;
    }
  }
  .reaction {
    display: flex;
    .reaction-button {
      justify-content: space-around;

      button {
        color: white;
        background-color: $mainColor;
      }
    }
  }
}

.wpi {
  border: dashed green;
}
