@font-face {
  font-family: "Sansation";
  src: url("/Sansation_Regular.ttf");
}
$mainColor: #8d20ae;

.postContainer {
  width: 70vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.post {
  font-family: "Sansation";
  background-color: white;
  color: black;
  width: 70%;
  min-width: 350px;
  max-width: 700px;
  height: auto;
  display: flex;
  border: $mainColor solid;
  border-radius: 5px;
  margin-left: 8vw;
  margin: 20px;

  .imgSection {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    .avatar {
      height: 50px;
      padding: 5px;
    }
  }
  .headpost {
    display: flex;
    width: 90%;
    font-size: 1.2em;
    padding-bottom: 10px;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10px;
    border-bottom: solid $mainColor;
  }
  .contentPostContainer {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 280px;
    .contentPost {
      margin: auto;
      width: 100%;
      flex-direction: column;
      .mediaContainer {
        flex-direction: row;
        .postmedia {
          display: flex;
          width: auto;
          max-width: 90%;
          max-height: 300px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 5%;
          padding-bottom: 5%;
        }
      }
      .postComment {
        padding: 5%;
        text-align: justify;
        overflow-wrap: break-word;
      }
    }
  }
  .reaction {
    display: flex;
    padding: 10px;

    .reaction-button {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        color: white;
        background-color: $mainColor;
        height: 30px;
        width: 100%;
        max-width: 200px;
        font-size: 1.2em;
        border-radius: 10px;
      }
    }
    .reaction-button:hover {
      button {
        background-color: white;
        color: $mainColor;
        border: solid 5px;
        border-color: $mainColor;
        cursor: pointer;
      }
    }
  }
  .commentContainer {
    display: flex;
    flex-direction: column;

    button {
      color: white;
      background-color: $mainColor;
      height: 30px;
      width: 100%;
      max-width: 200px;
      font-size: 1.2em;
      border-radius: 10px;
      margin: 10px;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
    button:hover {
      background-color: white;
      color: $mainColor;
      border: solid 5px;
      border-color: $mainColor;
      cursor: pointer;
    }
    textarea {
      resize: none;
      width: 90%;
      height: 10vh;
      margin: 10px;
      min-height: 100px;
      overflow: scroll;
    }

    .comments {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      max-height: 300px;
      overflow: scroll;
      scrollbar-color: $mainColor white;
      scrollbar-width: 10px;
      width: 95%;
      .comment {
        display: flex;
        flex-direction: row;
        height: auto;
        border-bottom: solid $mainColor;
        .avatar {
          height: 50px;
          padding: 5px;
        }
        .pseudo {
          color: $mainColor;
          font-weight: bold;
        }
      }
    }
  }
}

.wpi {
  border: dashed green;
}
