@font-face {
  font-family: "Sansation";
  src: url("/Sansation_Regular.ttf");
}
$mainColor: #8d20ae;

.containerComponent {
  text-decoration: none;
  height: auto;
  min-height: 90vh;
  background-color: rgb(39, 39, 39);
  .results {
    height: 100%;
    width: 80vh;
    position: absolute;
    top: 8vh;
    color: white;
    display: flex;
    flex-direction: column;

    .userContainer {
      display: flex;
      flex-direction: row;
      border: solid;
      border-color: $mainColor;
      border-width: 2px;
      height: 200px;
      padding: 5px;
      margin: 5px;
      align-items: center;
      .imgSection {
        display: flex;
        flex-direction: row;
        height: auto;
        .avatar {
          height: 190px;
        }
      }
      .infoSection {
        text-decoration: none;
        display: flex;
        height: 100%;
        flex-direction: row;
        align-items: center;
        .infoResult {
          text-decoration: none;
          padding-left: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .postContainer {
    width: 100vw;
    .post {
      width: 90%;
    }
  }
}

.wpi {
  border: dashed green;
}
