.infoContain {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 98vw;
  height: 80vh;
  border-radius: 30px;
}
label {
  font-size: 1.5em;
  margin: 2vh 0;
  width: 20vw;
  display: block;
}

textarea {
  height: 4vh;
  width: 36vw;
  display: block;
  border-radius: 7px;
  text-align: center;
  font-size: 1.3em;
}

h1 {
  margin: revert;
  font-size: 3em;
}
