.container {
  .infoContainer {
    display: flex;
    align-items: center;
  }
  label {
    font-size: 1.5em;
    margin: 2vh 0;
    width: 20vw;
    display: block;
  }

  textarea {
    height: 4vh;
    width: 36vw;
    display: block;
    border-radius: 7px;
    text-align: center;
    font-size: 1.3em;
  }

  h1 {
    margin: revert;
    font-size: 3em;
  }
  select {
    width: 36.25vw;
    height: 5vh;
  }
}

.submit {
  margin: 5vh;
  width: 20vw;
  height: 5vh;
  font-size: larger;
  text-align: center;
}
